cavefish-server/wbps/inputs/**/*.ptau filter=lfs diff=lfs merge=lfs -text
cavefish-server/wbps/inputs/**/*.r1cs filter=lfs diff=lfs merge=lfs -text
cavefish-server/wbps/inputs/**/*.sym filter=lfs diff=lfs merge=lfs -text
