cavefish-server/wbps/setup/**/*.ptau filter=lfs diff=lfs merge=lfs -text
cavefish-server/wbps/setup/**/*.r1cs filter=lfs diff=lfs merge=lfs -text
cavefish-server/wbps/setup/**/*.sym filter=lfs diff=lfs merge=lfs -text
