# ====================================================
# Root-level `.gitignore` for common exclusions
# This file containsx patterns that are universally ignored across all projects within this monorepo.
#
# Project-specific `.gitignore` files are for localized exclusions.
# They should contain patterns specific to that project's:
#  - build artifacts
#  - temporary files
# or other ignored items that are not relevant to other projects
# ====================================================
#
**/.DS_Store
**/.vscode/
**/.idea/
**/node_modules/
**/dist/
**/*.log
**/tmp/
#
# ====================================================
# nix / git-conig-hook link
# ====================================================
.pre-commit-config.yaml
