name: Haskell build and test

on:
  push:
    branches: [ "master", "release/**" ]
    paths:
      - 'cavefish-server/**'
      - '.github/workflows/cavefish-server-linux-ci.yml'

  pull_request:
    branches: [ "**" ]
    paths:
      - 'cavefish-server/**'
      - '.github/workflows/cavefish-server-linux-ci.yml'
jobs:
  build:
    name: GHC ${{ matrix.ghc-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ghc-version: ['9.6.6']
      fail-fast: false
    env:
      # Modify this value to "invalidate" the cabal cache.
      CABAL_CACHE_VERSION: "2025-10-23"

      # current ref from: 27.02.2022
      SECP256K1_REF: ac83be33d0956faf6b7f61a60ab524ef7d6a473a

      SECP_CACHE_VERSION: "2022-12-30"

    defaults:
      run:
        shell: bash


    steps:
    - uses: actions/checkout@v4
    - name: Free up disk space
      run: |
        # Remove software and language runtimes we're not using
        sudo rm -rf \
          "$AGENT_TOOLSDIRECTORY" \
          /opt/google/chrome \
          /opt/microsoft/msedge \
          /opt/microsoft/powershell \
          /opt/pipx \
          /usr/lib/mono \
          /usr/local/julia* \
          /usr/local/lib/android \
          /usr/local/lib/node_modules \
          /usr/local/share/chromium \
          /usr/local/share/powershell \
          /usr/share/dotnet \
          /usr/share/swift
        df -h /

    - name: Install system dependencies
      uses: input-output-hk/actions/base@latest
      with:
        use-sodium-vrf: false # default is true

    - name: Install Haskell
      id: install-haskell
      uses: input-output-hk/actions/haskell@latest
      with:
        ghc-version: ${{ matrix.ghc-version }}
        cabal-version: 3.12.1.0

    - name: Configure to use libsodium
      run: |
        cat >> cabal.project <<EOF
        package cardano-crypto-praos
          flags: -external-libsodium-vrf
        EOF

    - name: Cabal update
      working-directory: ./cavefish-server
      run: cabal update


    # We create a dependencies.txt file that can be used to index the cabal
    # store cache.
    #
    # We do not use plan.json directly because adding a dependency to our
    # Cabal files which was already present somewhere else would result in a
    # different plan, even though the set of dependencies is the same.
    - name: Record dependencies to be used as cache keys
      working-directory: ./cavefish-server
      id: record-deps
      run: |
        cabal build all --enable-tests --dry-run --minimize-conflict-set
        cat dist-newstyle/cache/plan.json \
        | jq '.["install-plan"][].id' \
        | sort \
        | uniq \
        | tee dependencies.txt

    - name: Restore cache
      uses: actions/cache/restore@v4
      id: restore-cabal-cache
      env:
        cache-name: cache-cabal-build
      with:
        path: |
          ${{ steps.install-haskell.outputs.cabal-store }}
        # A new cache is created upon a change to the cabal build plan,
        # cabal.project (and/or cabal.project.local), or a bump to
        # CABAL_CACHE_VERSION.
        key: ${{ env.cache-name }}-${{ runner.os }}-${{ matrix.ghc-version }}-${{ env.CABAL_CACHE_VERSION }}-${{ hashFiles('dependencies.txt') }}-${{ hashFiles('cabal.project*') }}
        # Restoring attempts are from current branch then master. The key above
        # is by default already a restore-key.
        restore-keys: |
          ${{ env.cache-name }}-${{ runner.os }}-${{ matrix.ghc-version }}-${{ env.CABAL_CACHE_VERSION }}-${{ hashFiles('dependencies.txt') }}
          ${{ env.cache-name }}-${{ runner.os }}-${{ matrix.ghc-version }}-${{ env.CABAL_CACHE_VERSION }}-

    - name: Check workflow test matrix
      working-directory: ./cavefish-server
      run: cabal build all --dry-run 

    - name: Build dependencies
      working-directory: ./cavefish-server
      id: build-dependencies
      run: cabal build all --only-dependencies

    # Save the cache of built dependencies early, so that it is available for
    # the next GHA run if the Build step fails.
    - name: Save cache
      uses: actions/cache/save@v4
      id: save-cabal-cache
      # Note: cache-hit will be set to true only when cache hit occurs for the
      # exact key match. For a partial key match via restore-keys or a cache
      # miss, it will be set to false.
      if: steps.build-dependencies.outcome == 'success' && steps.restore-cabal-cache.outputs.cache-hit != 'true'
      with:
        path: ${{ steps.install-haskell.outputs.cabal-store }}
        key:  ${{ steps.restore-cabal-cache.outputs.cache-primary-key }}

    - name: Build
      working-directory: ./cavefish-server
      run: | 
        cabal build all

    - name: Test
      working-directory: ./cavefish-server
      run: |
        cabal test all
